<!DOCTYPE html>
<html lang="zh">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="//static.360buyimg.com/finance/mobile/base/cm/1.0.0/reset.css"/>
    <link rel="icon" href="//www.jd.com/favicon.ico" type="image/x-icon">

</head>
<body>
<div class="main-wrap" id="react-cont"></div>

<!-- ---------------------------------基础库--------------------------------------- -->
<script src="//static.360buyimg.com/finance/mobile/base/1.0.0/js/lib/??zepto-1.1.4.js,fastclick.js"></script>
<script src="//static.360buyimg.com/finance/mobile/base/jm/js/lib/clickCount.js"></script>
<!-- ---------------------------------APP JSBridge--------------------------------------- -->
<script src="//m.jr.jd.com/statics/bridgev6.min.js"></script>
</body>
</html>